
<html>
	<head>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
<body>

	{{#each _DATA_}}
       <p>
       <div style="border: #1306ff solid 1px; border-radius: 5px; width: 500px; margin-left: 30px; height: 130px; overflow: scroll; padding: 8px;">
           {{{this}}}
       </div>
       </p>
	{{/each}}

</body>
</html>
